/* custom scroll */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px rgb(235, 229, 229);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(172, 171, 171);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(124, 123, 123);
}
