.main-grid {
  padding: 40px;
}

.detail-col {
  align-content: center;
}

.content-col {
  align-content: center;
  overflow-y: auto;
  height: 90vh;
}

.detail-row {
  align-items: center;
  min-height: 90vh;
  max-height: 100vh;
}

.collapsed {
  display: none;
}

.content-row {
  min-height: 80vh;
  text-align: center;
}
