.result-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.result-content {
  padding-top: 10px;
}

.expand-icon {
  float: right;
  color: rgba(0, 0, 0, 0.2);
}

.expand-icon:hover {
  color: rgba(0, 0, 0, 0.5);
}

.expanded-row {
  height: 0;
  display: none;
}

.expanded-row-active {
  display: block;
  height: 100%;
}
